p{
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
}
img{
    height: 30px;
    width: 30px;
}
.id{
    margin-left: 5px;
}
h1 {

    font-size: medium;
    text-align: center;
}
div{
    background-color: white;
    margin: auto;
    display: block;
    width: 40%;
        padding-top:30px;
    padding-bottom:50px ;


}